.footer {
	border-top: 1px solid #e7e7e7;
	margin-top: 2px;
}

.footer-ensure {
	width: 1190px;
	height: 100px;
	margin: 15px auto;
}

.footer-desc {
	width: 100%;
	height: 240px;
	padding-left: 50px;
	padding-top: 31px;
	border-top: 1px solid #e7e7e7;
	background: url('img/tmall-cat.png') no-repeat 90px bottom;
}

.footer-desc ul{
	float: left;
	width: 18%;
	padding-left: 50px;
}

.footer-desc ul li {
	list-style-type: none;
	color: 
}

.footer-desc span {
	color: #646464;
	font-size: 16px;
	font-weight: bold;
}

.footer-desc ul li a {
	color: #999;
	display: block;
	padding-top: 5px;
	font-size: 12px;
}

.footer-desc ul li a:hover {
	color: #C40000;
	text-decoration: none;
}

.footer-copyright {
	padding-left: 45px;
	border-top: 2px solid #C40000;
	background-color: #000;
	text-align: left;
	min-height: 200px;
	font-size: 12px;
}

.footer-copyright a:hover {
	text-decoration: none;
}

.tmall-info {
  margin: 10px 0;
	width: 1190px;
}

.tmall-info a,.tmall-otherlink a {
	color: white;
	padding-right: 4px;
}

.tmall-otherlink {
	margin: 10px 0;
	color: white;
}

.tmall-copyright {
	color: #a4a4a4;
	line-height: 28px;
}

.tmall-copyright a {
	color: #a4a4a4;
	margin-right: 65px;
}

.tmall-copyright b {
	margin-top: -5px;
	display: block;
	color: #686868;
}

.police-logo {
	position: relative;
}

.police-logo img {
	position: absolute;
	top: -5px;
	left: -25px;
}

.footer-img {
	margin-top: 5px;
}

.footer-img a {
	margin-right: 10px;
}