img.catear {
    position: absolute;
    height: 15px;
    display: none;
}

.header-carousel {
	position: relative;
}

.head-carousel-bar {
	background-color: #DD2727;

	line-height: 36px;
	font-size: 14px;
	width: 100%;
}

.head-carousel-bar-left {
	display: inline-block;
	margin-left: 10%;
	background-color: #C60A0A;
	width: 200px;
}

.head-carousel-bar-left span {
	margin-left: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;

}

.head-carousel-bar-right {
	display: inline-block;
	height: 36px;
}



.head-carousel-bar-right a {
	margin:0 20px;
	text-decoration:none;
	color: white;
}

.head-carousel-bar-right a img {
  width: 75px;
  height: 30px;
}

.carousel-product {
	margin: 0 auto;
	height: 510px;
	width: 1024px;
}

.carousel-product img {
	height: 510px !important;
}

.carouselBackground {
	position: absolute;
	top: 36px;
	z-index: -1;
	width: 100%;
	height: 510px;
	background-color: #E8E8E8;
}

.categoryWithCarousel {
	width: 200px;
	background-color: #e2e2e3;
	margin-left: 20px;
	position: absolute;
	left: 106px;
	top: 36px;
	z-index: 1;
}

.productsAsideCategorys {
	width: 800px;
	height: 510px;
	background-color: white;
/*	margin-left: 220px;*/
	position: absolute;
	left: 200px;
	top: 0;
	z-index: 1;
}

.categoryMenu  {
  opacity:0.9;
}

.categoryMenu a {
	color: #000;
}

.categoryMenu a:hover {
	color: lightskyblue;
	text-decoration: none;
}
/*carousel end*/