nav.top {
	padding: 5px 0px;
	font-size: 12px;
	font-family: Arial;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e7e7e7;
}

nav.top a,nav.top span {
	margin:0px 10px;
	color: #999;
}

.redColor {
	color: #C40000 !important;
}

nav.top a:hover {
	color: #C40000;
}
